/*
Theme Name: Clearwell
Theme URI: http://underscores.me/
Author: Phil Sealey
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: clearwell
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Clearwell is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #333;
}

a:visited {
	color: #333;
}

a:hover,
a:focus,
a:active {
	color: #7dbe00;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	/*overwrite normal nav settings
	float: left;
	width: 100%;
	*/
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## CUSTOM STYLES
--------------------------------------------------------------*/
html {
	font-size: 100%;
	font-family: 'Chivo', sans-serif;
}
/*-------------------
## CLEARWELL
# Header
---------------------*/
.header-top-light {
    background: #f8f8f8;
}

.header-top-light {
    background-color: #f8f8f8;
    height: 30px;
    border-bottom: 1px solid #eee;
}
.logo {
    
    line-height: 90px;
    position: relative;
    overflow: hidden;
    
    margin: 5px auto;
    display: block;
   /* float: left;*/
   text-align: center;
}
.header-info {
    /*float: right;*/
    height: 40px;
    margin-top: 33px;
}
.header-info-title {
	color: #7dbe00;
}





.header-info ul {
    padding-top: 2px;
    font-size: 13px;
    display: block;
    list-style: none;
    color: #747474;
    text-align:center;
    margin: 0;
    padding-left: 0;
}



.main-navigation {
	border-top: 1px solid #f5f5f5;
	
}

@media screen and (min-width: 37.5em)
{
	/*logo float left and info float right*/
	.logo {
		float: left;
		text-align: left;
		padding: 0 25px 0 0;
	}
	.header-info {
		float: right;
	}
	/*make email and telephone sit nicely in a line*/
	.header-info ul {
		text-align: left;
		margin: 0 0 1.5em 3em;
	}
	.header-info li {
    	float: left;
    	border-left: 1px solid #cccccc;
    	padding-left: 20px;
	}

	.header-info li:first-child {
   		border-left: 0;
    	padding-right: 20px;
    	padding-left: 47px;
	}
}



.site-content {
	background-color: #fcfcfc;
}

#primary-menu a {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
#primary-menu li {
	float: none;
	display: block;
	padding: 5px 0;
	border-top: 1px solid #f5f5f5;
}

@media screen and (min-width: 37.5em)
{
#primary-menu li {
	margin-right: 30px;
	padding: 0;
	line-height: 40px;
    height: 40px;
   border-top: none;
    float: left;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* Underline From Center */
#primary-menu a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
}
#primary-menu a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #7dbe00;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#primary-menu a:hover:before, #primary-menu a:focus:before, #primary-menu a:active:before {
  left: 0;
  right: 0;
}
}

/*------------------
# Nav bar
--------------------*/
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default {
	background-color: inherit;
}
.navbar-default .navbar-collapse {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
}

/**
 * navbar toggle animation - but prefixes in before production
 */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/*override wp style.css*/
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active {
    box-shadow: none;
    text-shadow: none;
}
/*-------------------
## CLEARWELL
# Homepage carousel
---------------------*/
.main-container {
  padding: 10px 15px;
}

.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
   /*min-height: 350px; */
   height: 100%;
    width:100%; 
}

.carousel-caption {
	bottom: auto;
	top: 0px;
	padding-top: 5px;
	padding-bottom: 0;
}

@media screen and (min-width: 768px) {

.carousel-caption {
    right: 15%;
    left: 15%;
    padding-bottom: 30px;
}
}


.carousel .icon-container,
.carousel-caption button.btn-lg {
    background-color: #7dbe00;
    border: none;
    border-radius: 0;
    font-size: 12px;
    padding: 5px 10px;
}

.carousel-caption button.btn-lg:hover {
	background-color:#444;
}
.carousel-caption h3 {
    padding: 0 .5em .5em .5em;
    font-size: 20px;
    margin-top: 0;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.carousel-caption h5 {
	font-weight: 300;
	line-height: 20px;

}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 0; 
}

.carousel-caption hr {
    background-color: #7dbe00;
    border: 0;
    height: 3px;
    margin: 0 auto;
    width: 50px;
}

/* Animation delays */
.carousel-caption h3 {
    animation-delay: 1s;
}
.carousel-caption hr {
    animation-delay: 1.5s;
}
.carousel-caption h5 {
    animation-delay: 2s;
}
.carousel-caption button {
    animation-delay: 3s;
}

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
@media screen and (min-width: 26.5em)
{
	.carousel-caption {
		padding-top: 15px;
	}
}
@media screen and (min-width: 37.5em)
{

	.carousel-caption {
		bottom: auto;
		/*top: 30px;*/
		padding-top:0;
	}
	.carousel-caption h3 {
	    padding: .5em;
	    font-size: 30px;
	    font-weight: 600;
	    letter-spacing: 1.4px;
	    margin-top: 20px;
	}	
	.carousel-caption hr {
		margin: 20px auto;
	}
	.carousel-caption button {
    	margin-top: 1em; 
	}
	.carousel-caption button.btn-lg {
		font-size: 14px;
		padding: 10px 16px;
	}
}
@media screen and (min-width: 62.5em)
{
	.carousel-caption {
		top: 30px;
		padding-top: 15px;
	}
}
/*-------------------
## CLEARWELL - Home
# sales pitch box
---------------------*/
.sales-pitch {
	margin: 0px auto;
	padding: 20px;
}

.sales-pitch-col {
	text-align: center;
	background-color: #fff;
}
.sales-pitch-col h2 {
	font-size: 24px;
	text-align: left;
}
.sales-pitch-col:first-child {
 background-color: #7dbe00;
 color: #fff;
 padding: 50px 30px;
}
.sales-pitch-col:first-child p {
	color: #fff;
}


.sales-pitch .glyphicon {
	display: block;
	font-size: 24px;
	color: #7dbe00;
	text-align: center;
}

.sales-pitch h3 {
	font-size: 16px;

}
.sales-pitch p {
	text-align: center;
	font-size: 14px;
	color: #b6b6b6;
	font-weight: 300;
}

.sales-pitch-col-inner {
	padding: 30px 20px;
}

/*flexbox solution for making columns same height*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (min-width: 48em)
{
	/*sales pitch top margin*/
	.sales-pitch {
		margin: 30px auto;
	}

	.sales-pitch p {
		text-align: center;
	}
	p.sales-pitch-left {
		text-align: left;
	}
}

/*-------------------
## CLEARWELL - Home
# strip contact
---------------------*/

.strip-contact {
	background-color: #fff;
	margin-bottom: 30px;
}

.strip-contact h2 {
    color: #7dbe00;
    margin: 30px 15px 30px 0;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
}
.strip-contact-button {
	text-align: center;
}
.strip-contact .btn-primary {
	background-color: #7dbe00;
	border-radius: 0;
	border: none;
	float: none;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
	
}

.strip-services-item {
	/*background-color: #fff;*/
}

.strip-services-item-text {
	background-color: #fff;
	padding: 50px;
}

.strip-services-item-text h3 {
	margin: 0;
	padding-bottom: 10px;
	font-size: 14px;
	color: #747474;
	font-weight: bold;
}

.strip-services-item-text p {
	font-size: 14px;
	color: #747474;
}

.strip-services-item-text a {
	font-size: 14px;
	color: #7dbe00;
	transition: color 300ms ease;
}

.strip-services-item-text a:hover {
	text-decoration: none;
	color: #747474;
	transition: color 300ms ease;
}

@media screen and (min-width: 48em)
{
	/*Add padding to button at top and left align text*/
	.strip-contact h2 {
	    text-align: left;
	}

	.strip-contact .btn-primary {
		float: right;
		margin-top: 25px;
		margin-bottom: 0;	
	}
}

/*-------------------
## CLEARWELL - Footer
# Footer
---------------------*/

.site-footer {
	background: #262727;
	color: #999999;
	font-size: 14px;
}

.site-footer .container {
	padding: 40px 40px 0px 40px;
}
.footer-col.about {
	text-align: center;
}
.footer-col.about img {
	margin-bottom: 20px;
}

.footer-col h3 {
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin-bottom: 25px;
}

.footer-col.services ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

}

.footer-col.services li {
	padding-left: 1em;
	text-indent: -1em;
}

.footer-col.services li::before {
	content: "• ";
	color: #7dbe00;
}

.footer-col p {
	text-align: center;
}
.footer-strip {
	background-color: #363839;
}
.site-footer .site-info {
	/*background-color: #363839;*/
	padding: 30px 15px;
}

.site-footer .site-info .copyright {
	float: none;

	padding-left: 15px;
	padding-top: 0;
	text-align: center;
}

#menu-footer-menu {
	margin-bottom: 0;
	float: none;
	list-style: none;
	text-align: center;
	margin: 0.3em 0 1.5em 0em;
}



#menu-footer-menu li {
	float: left;
}

#menu-footer-menu li a {
	color: #fff;
	position: relative;
    display: block;
    padding: 10px 15px;
}

#menu-footer-menu li a:hover {
	color: #7dbe00;
	text-decoration: none;
}

@media screen and (min-width: 48em)
{
	.footer-col h3 {
		text-align: left;
	}
	.footer-col p {
		text-align: left;
	}

	.site-footer .site-info .copyright {
		float: left;
		padding-left: 15px;
		padding-top: 15px;
	}

	#menu-footer-menu {
	margin-bottom: 0;
	float: right;
	list-style: none;
}
}

@media screen and (min-width: 62em)
{
	.footer-col.about {
		text-align: left;
	}
	.footer-col.about img {
		width: 75%;
	}
}

/*-------------------
## CLEARWELL - Services
# Title Strip
---------------------*/
.services .title-strip {
	position: relative;
}
.services .title-strip .title-strip-text {
	position: absolute;
	z-index: 10;
	top: 0px;
	right: 20%;
	left: 20%;
	margin: 0 auto;
	text-align: center;
}

.services .title-strip-text h1 {
	color: #fff;
	letter-spacing: 1.5px;
	font-size: 24px;
}

.services-grid header {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.services-grid header h2 {
	color: #7dbe00;
	font-size: 24px;
}

.services-grid header p {
	color: #767676;
}

.services-grid .strip-services-item {
	margin-bottom: 30px;
}

@media screen and (min-width: 48em)
{
	.services .title-strip .title-strip-text {
		top: 80px;
	}
	.services .title-strip-text h1 {
		font-size: 30px;
	}
}

/*-------------------
## CLEARWELL - Contact
# 
---------------------*/
.site-main.contact {
	background-color: #fff;
}

.contact-title-strip {
	border-top: 1px #f5f5f5 solid;
	border-bottom: 1px #f5f5f5 solid;
	background-color:#fcfcfc;
}
.contact-title-strip h1{
	text-align: left;
	color: #7dbe00;
	margin: 0.67em 0;
}
/*solution for map scroll wheel - https://jonnyjordan.com/blog/disable-mouse-scroll-wheel-zoom-embedded-google-map-iframes/*/
.contact-map-overlay {
	background:transparent;
	position:relative;
	width:100%; /* your iframe width */
	height:400px; /* your iframe height */
	top:400px; /* your iframe height */
	margin-top:-400px; /* your iframe height */
}

#respond input[type=date], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=date], input[type=text] {
    padding: 10px!important;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #fff;
   
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #555;
    background-color: #FCFCFC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

input[type=submit] {
    background-color: #7dbe00;
    border: 0px;
    padding: 15px 35px 15px 35px;
    color: #FFFFFF;
    border-radius: 0;
}

.contact-form {
	margin-top: 20px;
}

.contact-address {
	padding-left: 0;
	color: #666;
	font-size: 14px;
}
.contact-address h3 {
	font-size: 20px;
}

/*-------------------
## CLEARWELL
# Gallery
---------------------*/

.gallery-grid {
	
}

.grid-item {
	padding-left: 0;
	padding-right: 0;
}



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(125,190,0, 0.6);
  /*top: -200px;*/
  top: 0; /*so it just fades in*/
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect span.glyphicon {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect:hover span.glyphicon {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  /*border: 1px solid #000;*/
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  /*box-shadow: 0 0 5px #fff;*/
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  /*box-shadow: 0 0 5px #000;*/
  color: #000;
  /*border: 1px solid #000;*/
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/*if icon is hovered over*/
.hovereffect:hover span.glyphicon:hover {
	background: rgba(0, 0, 0, 0.6);
}

/*Gallery header*/
.gallery h1 {
	letter-spacing: 1.3px;
}

.filter-button-group {
	text-align: center;
	margin-bottom: 20px;
}
.filter-button-group button {
	background: none;
	border: none;
	outline:none;
	border-right: 1px #999 solid;
	border-radius: 0;
	padding: 0.3em 1em;

}
.filter-button-group button:last-child {
	border-right: none;
}

.filter-button-group button:hover, .filter-button-group button.active {
	color: #7dbe00;
}

/*
//////Testimonial
*/
.testimonial {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #222;
	background-image: url('images/testimonial-bg.png');
	background-size: cover;
}

.testimonial-text h1 {
	color: #7dbe00;
	font-size: 28px;
	margin-bottom: 5px;
}
.testimonial-text h2 {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
.testimonial-text p {
	text-align: center;
	color: #999;
	padding: 0 10%;
	font-size: 14px;
}
@media screen and (min-width: 48em)
{
	.testimonial-text p {
		padding: 0 15%;
	}
}

footer .text-green {
	color: #7dbe00;
}

.site-footer {
	font-size: 13px;
}

.site-footer .container {
	padding-bottom: 40px;
}